<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER NEW DATA</title>
</head>
<body>
    <div class="">
        <form action="" method="post">
            <legend> ADD NEW DUMMY DATA</legend>
            <p>First Name :</p>
            <input type="text" name="fname" id="fname" placeholder="first name">
            
            <p>Last Name :</p>
            <input type="text" name="lname" placeholder="last name">
            
            <p>Date Of Birth :</p>
            <input type="date" name="dob" placeholder="date of birth"> 
            
            <p>Address :</p>
            <input type="text" name="address" placeholder="ADDRESS"><br>

            <p>Passport :</p>
            <input type="file" name="passport"><br>
            
            <br><button type="submit">SUBMIT</button>
        </form>
    </div>
</body>
</html>